// Fondo del contenedor principal
.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../assets/images/wp3203655.jpg") no-repeat center
    center/cover;

  // Contenedor de Login y Registro
  .container {
    width: clamp(50%, 60%, 90%);
    height: clamp(50vh, 80vh, 90vh);
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background: #00000071;

    // Slider que se mueve entre Login y Registro
    .slider-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: url("../../../assets/images/car_whas_1.jpg") no-repeat center
        center/cover;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 3;
      transition: transform 1.2s ease-in-out;

      .slider-content {
        margin-top: 30rem;
        width: 80%;
        color: white;
      }
    }

    // Estado activado del registro
    &.register-active {
      .slider-container {
        transform: translateX(100%);
      }
    }

    // Contenedor de formularios (Login y Registro)
    .form-container {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform 1.2s ease-in-out;

      // Formulario de Login y Registro divididos
      .form-wrapper {
        flex: 1;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;

        .email {
          margin: 0 auto;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        // Formulario de login
        &.login-form {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
          color: white;
          gap: 1rem;
        }

        // Formulario de registro
        &.register-form {
          width: 100%;
          color: white;
          button {
            width: 90%;
            background: #007bff;
            &:hover {
              background: #0056b3;
            }
          }
        }
      }
    }
  }
}

// Estilos para los inputs
.input-group {
  position: relative;
  width: 80%;
  margin: 0 auto;
  gap: 1.5rem;

  input {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-top: 2.5rem;
    background: transparent;
    color: white;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
      border-color: #a0f6fd;
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:focus {
      outline: none;
      border-color: #ff8bfc;
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: -10px;
      left: 1rem;
      font-size: 0.8rem;
      color: #a0f6fd;
    }
  }

  label {
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: white;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
}

// Estilos para botones
button {
  width: 80%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 8px;
  font-size: 1rem;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: #0056b3;
  }
}
.link-btn {
  margin-top: 0.1rem;
  margin-bottom: -3rem;
}
// Media queries para responsividad
@media (max-width: 1024px) {
  .container {
    width: 80%;
    height: 70vh;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    height: 60vh;
    flex-direction: column;

    .slider-container {
      width: 100%;
      height: 40%;
      top: 0;
      left: 0;
      transform: translateY(0);
    }

    &.register-active {
      .slider-container {
        transform: translateY(100%);
      }
    }

    .form-container {
      flex-direction: column;

      .form-wrapper {
        width: 100%;
      }
    }
  }
}
