<h2>Registro de Usuario</h2>
<form (ngSubmit)="register()">
  <!-- Primera fila: Nombre y Apellido -->
  <div class="double-column">
    <div class="input-group">
      <input
        type="text"
        [(ngModel)]="user.firstName"
        name="firstName"
        required
        placeholder="Nombre"
      />
      <label>Nombre</label>
    </div>

    <div class="input-group">
      <input
        type="text"
        [(ngModel)]="user.lastName"
        name="lastName"
        required
        placeholder="Apellido"
      />
      <label>Apellido</label>
    </div>
  </div>

  <!-- Segunda fila: Email -->
  <div class="email-column">
    <div class="input-group">
      <input
        type="email"
        [(ngModel)]="user.email"
        name="email"
        required
        placeholder="Email"
      />
      <label>Email</label>
    </div>
  </div>

  <!-- Tercera fila: Contraseña y Validar Contraseña -->
  <div class="double-column">
    <div class="input-group">
      <input
        type="password"
        [(ngModel)]="user.password"
        name="password"
        required
        placeholder="Contraseña"
      />
      <label>Contraseña</label>
    </div>

    <div class="input-group">
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
        placeholder="Validar contraseña"
      />
      <label>Validar contraseña</label>
    </div>
  </div>

  <!-- Cuarta fila: Fecha de nacimiento y Teléfono -->
  <div class="double-column">
    <div class="input-group">
      <input
        type="date"
        [(ngModel)]="user.dateOfBirth"
        name="dateOfBirth"
        required
      />
    </div>

    <div class="input-group">
      <input
        type="text"
        [(ngModel)]="user.phoneNumber"
        name="phoneNumber"
        required
        placeholder="Teléfono"
      />
      <label>Teléfono</label>
    </div>
  </div>

  <!-- Quinta fila: País y Ciudad -->
  <div class="double-column">
    <div class="input-group">
      <input
        type="text"
        [(ngModel)]="user.country"
        name="country"
        required
        placeholder="País"
      />
      <label>País</label>
    </div>

    <div class="input-group">
      <input
        type="text"
        [(ngModel)]="user.city"
        name="city"
        required
        placeholder="Ciudad"
      />
      <label>Ciudad</label>
    </div>
  </div>

  <!-- Botón de registro -->
  <button type="submit">Registrar</button>
</form>
