.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 60px;
  transition: width 0.3s ease-in-out;
  background-color: #007bff;
  color: white;

  &:hover {
    width: 200px;
  }

  a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.main-content {
  padding: 2rem;
}
